<div class="card-area">
    <div class=@ContainerStyle>
        @ChildContent
    </div>
    @if (!string.IsNullOrEmpty(Label))
    {
        <span class=@CardLabelStyle>@Label</span>
    }
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool Small { get; set; }

    [Parameter]
    public string Label { get; set; } = string.Empty;

    private string ContainerSmallStyle => Small ? "card-small" : string.Empty;
    private string ContainerEmptyStyle => ChildContent == null ? "card-container-empty" : string.Empty;
    private string ContainerStyle => $"card-default card-container {ContainerSmallStyle} {ContainerEmptyStyle}";

    private string CardLabelSmallStyle => Small ? "card-label-small" : string.Empty;
    private string CardLabelStyle => $"card-label {CardLabelSmallStyle}";

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}