.card-front {
    width: 100%;
    height: 100%;
    background-color: var(--bg-card-front-default);
    cursor: pointer;
    border: 0;
    display: flex;
}

    .card-front:hover {
        background-color: var(--bg-card-front-highlight);
    }

    .card-front:active {
        background-color: var(--bg-card-front-default);
    }

.card-back {
    width: 100%;
    height: 100%;
    background: var(--bg-card-back-default);
    cursor: not-allowed;
}

    .card-back:hover {
        background-color: var(--bg-card-back-highlight);
    }

.card-back-line {
    width: calc(100% - 32%);
    height: calc(100% - 25%);
    border: 1px solid #333333;
    background: inherit;
}
