<div class=@CardTextStyle>
    @if (Number != null)
    {
        @((int)Number)
    }

</div>

@code {
    [Parameter, EditorRequired]
    public CardNumber? Number { get; set; }

    [Parameter]
    public bool Small { get; set; }

    private string CardTextSmallStyle => Small ? "card-text-small" : string.Empty;
    private string CardTextStyle => $"card-text {CardTextSmallStyle}";

}