<div class=@CardTextStyle>
    @Number
</div>

@code {
    [Parameter, EditorRequired]
    public int Number { get; set; }

    [Parameter]
    public bool Small { get; set; }

    private string CardTextSmallStyle => Small ? "card-text-small" : string.Empty;
    private string CardTextStyle => $"card-text {CardTextSmallStyle}";

}