<div class="modal">
    <div class="modal-dialog">
        <div class="modal-title">
            Planning Poker
        </div>
        <div class="modal-body">
            <input type="text" class="form-input" placeholder="Digite seu nome" />
            <div class="btn-group">
                <button type="button" class="btn btn-secondary">espiar</button>
                <button type="button" class="btn btn-primary">entrar</button>
            </div>
        </div>
    </div>
</div>