.error {
    background: #f1f1f1;
    align-content: center;
    padding: 40px;
    flex-direction: column;
    flex: 1;
}

    .error h1 {
        font-size: 3em;
        color: #990000;
    }

    .error h2 {
        font-size: 2em;
        color: #333333;
    }

    .error .sad-404 {
        position: absolute;
        max-width: 300px;
        bottom: 0;
        right: 0;
    }
