@inject ISessionService _sessionService;
@implements IDisposable

@page "/"
@page "/session"

<div class="game-container">
    <Modal LabelOk=@LabelOk OnOkClick=@HandleEnter DisabledOk=@Loading />
</div>

@code {
    private string OwnerName { get; set; }
    private bool Loading { get; set; }
    private string LabelOk => Loading ? "carregando..." : "criar sessão";

    private void HandleEnter(string ownerName)
    {
        Loading = true;
        StateHasChanged();

        if (string.IsNullOrWhiteSpace(ownerName))
            return;

        _sessionService.CreateSession(ownerName);
    }

    private void EnterToSession()
    {
        Loading = false;
        Console.WriteLine("Sessão criada: {0}", _stateContainer?.GameSession?.Id);
        _navigationManager.NavigateTo($"/session/{_stateContainer?.GameSession?.Id}");
    }

    protected override void OnInitialized()
    {
        _stateContainer.OnChange += EnterToSession;
    }

    public void Dispose()
    {
        _stateContainer.OnChange -= EnterToSession;
    }
}
