@page "/"

<PageTitle>Planning Poker | @@angelitocsg</PageTitle>

<div class="game-container">
    <div class="game-area">
        <div class="game-top">
            <div class="player-seats-top">
                <CardContainer Label="Jogador" />
                <CardContainer Label="Jogador" />
                <CardContainer Label="Jogador" />
                <CardContainer Label="Jogador" />
                <CardContainer Label="Jogador" />
                <CardContainer Label="Jogador" />
            </div>
        </div>
        <div class="game-center">
            <div class="player-seats-left">
                <CardContainer Label="Jogador" />
            </div>
            <GameTable>
                <SessionTimer StartedAt=@StartedAt OnClick=@HandleToggleStartStop />
            </GameTable>
            <div class="player-seats-right">
                <CardContainer Label="Jogador" />
            </div>
        </div>
        <div class="game-bottom">
            <div class="player-seats-bottom">
                <CardContainer Label="Jogador" />
                <CardContainer Label="Jogador" />
                <CardContainer Label="Jogador">
                    <Card Side=Side.Back />
                </CardContainer>
                <CardContainer Label="Jogador">
                    <Card Side=Side.Front Number=8 />
                </CardContainer>
            </div>
        </div>
    </div>
    <div class="game-player">
        <PlayerTable PlayerName="Jogador"></PlayerTable>
    </div>
</div>

@code {
    private bool Started { get; set; } = false;
    private DateTime StartedAt { get; set; } = DateTime.MinValue;

    private void HandleToggleStartStop()
    {
        if (Started)
        {
            Started = false;
            StartedAt = DateTime.MinValue;
            return;
        }

        Started = true;
        StartedAt = DateTime.Now;
    }
}